.three-d-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.three-d-button {
    width: 140px;
    height: 50px;
    position: relative;
    background: none;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.three-d-button .top {
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 238);
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: rgb(36, 38, 34);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7mm;
    outline: 2px solid rgb(36, 38, 34);
    transition: 0.2s;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.three-d-button .bottom {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(229, 229, 199);
    top: 10px;
    left: 0;
    border-radius: 7mm;
    outline: 2px solid rgb(36, 38, 34);
    z-index: 1;
}

.three-d-button .bottom::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 9px;
    background: rgb(36, 38, 34);
    bottom: 0;
    left: 15%;
}

.three-d-button .bottom::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 9px;
    background: rgb(36, 38, 34);
    bottom: 0;
    left: 85%;
}

.three-d-button:active .top {
    transform: translateY(10px);
}

.three-d-button::before {
    position: absolute;
    content: "";
    width: calc(100% + 2px);
    height: 100%;
    background: rgb(140, 140, 140);
    top: 14px;
    left: -1px;
    border-radius: 7mm;
    outline: 2px solid rgb(36, 38, 34);
    z-index: 0;
}

.three-d-button .top::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    transform: skewX(30deg);
    left: -20px;
    transition: 0.25s;
}

.three-d-button:active .top::before {
    left: calc(100% + 20px);
}